{% extends "base.html" %}


{%block javascript%}
<script>
$(document).ready(function(){
    $("#categorySelect").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>
{%endblock%}

{%block postForm%}
<form>
          <div class="form-group">
            <label for="categorySelect">Please select category</label>
            <select class="form-control" id="categorySelect">
              <option>Electronics</option>
              <option>Bags, Baggage, Luggage</option>
              <option>Clothing</option>
              <option>Documents / literature (non-sensitive)</option>
              <option>Electronics</option>
              <option>Jewelry</option>
              <option>Personal Accessories</option>
              <option>Sensitive items (passport, id card, credit cards)</option>
              <option>Others</option>
            </select>
          </div>

          <div class="form-group row">
            <label for="postTitle" class="col-md-2 col-form-label">Post Title</label>
            <div class="sol-md-10">
              <input class="form-control" type="text" placeholder="Ex. Found black Garmin watch near SDFC" id="postTitle">
            </div>
          </div>

          <div class="form-group row">
            <label for="dateSelect" class="col-md-2 col-form-label">Found Date</label>
            <div class="sol-md-10">
              <input class="form-control" type="text" id="dateSelect">
            </div>
          </div>

          <div class="form-group">
            <label for="campusSelect">Please select campus</label>
            <select class="form-control" id="campusSelect">
              <option>Downtown Phoenix Campus</option>
              <option>Tempe Campus</option>
              <option>Colleges at Lake Havasu City</option>
              <option>Polytechnic Campus</option>
              <option>West Campus</option>
            </select>
          </div>

          <div class="form-group">
            <label for="cardtype">Please select sub category</label>
            <select class="form-control" id="cardtype">
              <option>Passport</option>
              <option>SSN</option>
              <option>Student ID Card</option>
              <option>Others</option>
            </select>
          </div>

          <div class="form-group" id="idNumber">
            <label for="idNumber"></label>
            <input class="form-control" type="text" name="idNumber">
          </div>

          <div class="form-group">
            <label for="description">Description and details of the item</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="image">Upload Item's Image</label>
            <input type="file" class="form-control-file" id="image">
          </div>
        

        <button type="submit" class="btn btn-primary mb-2">Post</button>          
        </form>
{%endblock%}