{% extends "lostfound/base.html" %}

{%block content%}
<div class="row">
        <div class="col-9">
          <h5>Filter here</h5>
          <form action="." method="post">{% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-4">
                <select id="itemtype" name="itemtype" class="form-control">
                  <option selected="true" disabled="disabled">Select Item Category</option>
                  <option value="Electronics">Electronics</option>
              <option value="Bags, Baggage, Luggage">Bags, Baggage, Luggage</option>
              <option value="Clothing">Clothing</option>
              <option value="Non Sensitive Documents">Documents / literature (non-sensitive)</option>
              <option value="Jewelry">Jewelry</option>
              <option value="Personal">Personal Accessories</option>
              <option value="Sensitive items">Sensitive items (passport, id card, credit cards)</option>
              <option value="Others">Others</option>
                  <option>Others</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <select id="campuslocation" name="campuslocation" class="form-control">
                  <option selected="true" disabled="disabled">Select Campus</option>
                  <option value="Downtown Phoenix Campus">Downtown Phoenix Campus</option>
              <option value="Tempe Campus">Tempe Campus</option>
              <option value="Colleges at Lake Havasu City">Colleges at Lake Havasu City</option>
              <option value="Polytechnic Campus">Polytechnic Campus</option>
              <option value="West Campus">West Campus</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
            
          </form>

        <h3>Previous Posts</h3>
        <table class="table table-bordered table-striped">
           <thead class="thead-dark">
            <tr>
              <th scope="col">Listing Id</th>
              <th scope="col">Photo</th>
              <th scope="col">Category</th>
              <th scope="col">Title</th>
              <th scope="col">Campus Location</th>
            </tr>
          </thead>
          
          <tbody>
            {% for item in search %}

                <tr>
                  <th scope="row">{{item.id}}</th>
                  <td><img src="{{item.imagelink}}"  height="100"/></td>
                  <td>{{item.itemtype}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.campuslocation}}</td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
      </div>
        <div class="col-3">
          <a class="btn btn-success btn-lg btn-block" role="button" href="#">Report Found Item</a>
        </div>
      </div>
{%endblock%}