{% extends "lostfound/base.html" %}


{%block javascript%}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

 <script>
$(document).ready(function(){
    $("#categorySelect").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue == "Sensitive items"){
                $("#fourdigit").show();
                $("#subcategory").show();
                $("#itemImage").hide();
            } else{
                $("#fourdigit").hide();
                $("#subcategory").hide();
                $("#itemImage").show();
            }
        });
    }).change();
});
</script>

<style type="text/css">
  label {
    font-weight: bold;
  }
</style>

{%endblock%}

{%block content%}
<p>{{error_message}}</p>
<p>{{message}}</p>
 <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="form-group">
            <label for="categorySelect">Select category</label>
            <select class="form-control" name="categorySelect" id="categorySelect">
              <option value="Electronics">Electronics</option>
              <option value="Bags, Baggage, Luggage">Bags, Baggage, Luggage</option>
              <option value="Clothing">Clothing</option>
              <option value="Non Sensitive Documents">Documents / literature (non-sensitive)</option>
              <option value="Jewelry">Jewelry</option>
              <option value="Personal">Personal Accessories</option>
              <option value="Sensitive items">Sensitive items (passport, id card, credit cards)</option>
              <option value="Others">Others</option>
            </select>
          </div>

          <div class="form-group">
            <label for="postTitle">Post Title</label>
            <input class="form-control" type="text" placeholder="Ex. Found black Garmin watch near SDFC" id="postTitle" name="title" required>
          </div>

          <div class="form-group">
            <label for="dateSelect">Found date</label>
            <input class="form-control" type="text" id="dateSelect" name="lost_found_date" required>
          </div>

          <div class="form-group">
            <label for="campusSelect">Select campus</label>
            <select class="form-control" id="campusSelect" name="campusSelect">
              <option value="Downtown Phoenix Campus">Downtown Phoenix Campus</option>
              <option value="Tempe Campus">Tempe Campus</option>
              <option value="Colleges at Lake Havasu City">Colleges at Lake Havasu City</option>
              <option value="Polytechnic Campus">Polytechnic Campus</option>
              <option value="West Campus">West Campus</option>
            </select>
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input class="form-control" type="text" name="address">
          </div>
          
          <div class="form-group" id="subcategory">
            <label for="cardtype">Select sub category</label>
            <select class="form-control" id="cardtype" name="cardtype">
              <option value="Passport">Passport</option>
              <option value="SSN">SSN</option>
              <option value="Student ID Card">Student ID Card</option>
              <option value="Credit/Debit Card">Credit/Debit Card</option>
              <option value="Others">Others</option>
            </select>
          </div>

          <div class="form-group" id="fourdigit">
            <label for="fourdigits">Enter last 4 digits/characters</label>
            <input class="form-control" type="text" id="fourdigits" name="lastfourdigit">
          </div>


          <div class="form-group">
            <label for="description">Description and details of the item</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>

          <div class="form-group" id="itemImage">
            <label for="image">Upload item's image</label>
            <input type="file" class="form-control-file" id="image" name="image" accept=".jpg,.png,.jpeg">
          </div>
        

        <button type="submit" class="btn btn-primary mb-2">Post</button>          
        </form>
{%endblock%}